# Listas

In [7]:
# Listas ou vetores guardam muitas variáveis ENTRE COLCHETES
# Definindo uma lista com int, float, list, str, bool e complex:
l = [1, 2.1, [3,0], 'oi', False, 1j+2]
l

[1, 2.1, [3, 0], 'oi', False, (2+1j)]

In [8]:
lista1 = [9,8,7]  # Lista com 3 elementos, mas o primeiro é o da posição zero
print(lista1[0])  # Mostra o primeiro elemento da lista, que neste caso é o numero 9
print(lista1[2])
len(lista1)       # Dá o número de elementos que estão dentro da lista denominada "lista1"

9
7

3

In [9]:
# Posso concatenar uma lista com ela mesma:
l*2

[1, 2.1, [3, 0], 'oi', False, (2+1j), 1, 2.1, [3, 0], 'oi', False, (2+1j)]

In [20]:
# Listas também podem conter outras listas dentro delas (são as sublistas)
ls1 = [1,2,3]
ls2 = ['ola',22,True]
ls3 = [98, 88, 77]
lscompleta=[ls1,ls2,ls3]
print(lscompleta)
print(type(ls1))
print(type(lscompleta))

[[1, 2, 3], ['ola', 22, True], [98, 88, 77]]
<class 'list'>
<class 'list'>

In [22]:
# Pegando o último elemento da sublista "ls3"
lscompleta[1][-1] # Aqui o "[2]" se refere à sublista na posição 1 dentro da lscompleta. O [-1] pega o 
                  # último elemento (contando de trás pra frente) dessa sublista

True

In [10]:
# Adicionando uma lista inteira ao final de uma lista dada
listadada = [1,2,3,4,5]
print(listadada)
listamaior = listadada + [6, 7, 8]
print(listamaior)
# Deletando o terceiro elemento da "listamaior"
del(listamaior[2])
print(listamaior)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]

In [11]:
# Listando métodos/atributos de um objeto qualquer - uso o dir():
lista1 = [9,8,7]
dir(lista1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
# Usando o help() para saber o que certo método de um certo objeto faz:
help(lista1.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [13]:
lista1.append(200) # O método "append" adiciona o número 200 ao final da lista
print(lista1)
lista1.extend([6,5,4]) # O método "extend" adiciona uma outra lista INTEIRA ao final da sua lista
print(lista1)
lista1[0] = 14 # Insere o valor '14' na posição '0' da lista, ou seja, substitui o primeiro item da lista
print(lista1)

[9, 8, 7, 200]
[9, 8, 7, 200, 6, 5, 4]
[14, 8, 7, 200, 6, 5, 4]

In [19]:
# Mais alguns métodos de listas
lista2 = [1,2,3]
print(lista2)
lista2.append(4)
print(lista2)
lista2.pop(1) # Este método remove (tira mesmo) o elemento na posição '1' da lista
print(lista2)
lista2.append(4)
print(lista2)
print(lista2.count(4)) # Conta quantas vezes o '4' se repete na lista

[1, 2, 3]
[1, 2, 3, 4]
[1, 3, 4]
[1, 3, 4, 4]
2

In [16]:
# Inserindo uma lista que só tem strings dentro
meses = ['Janeiro', 'Fevereiro', 'Marco', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
meses

['Janeiro',
 'Fevereiro',
 'Marco',
 'Abril',
 'Maio',
 'Junho',
 'Julho',
 'Agosto',
 'Setembro',
 'Outubro',
 'Novembro',
 'Dezembro']

In [18]:
# Pegando só alguns elementos da lista "meses" e criando uma nova lista, a "mesmeio"
mesmeio = meses[5:8] # Aqui estou pegando os elementos 5,6 e 7 da lista "meses", lembrando 
                     # que ela começa a contar no elemento zero.
                     # OBS: o que está antes do ":" é incluído (intervalo matemático fechado) e o que está 
                     # depois é excluído (intervalo mat. aberto), tipo assim [5:8[
print(mesmeio)
# Pegando todos os elementos nas posições que vem antes do ":":
comeco = meses[:2]
print(comeco)
# Pegando todos os elementos a partir da 9° posição:
fim = meses[9:]
print(fim)
fim2 = meses[-4:-1]
print(fim2)

['Junho', 'Julho', 'Agosto']
['Janeiro', 'Fevereiro']
['Outubro', 'Novembro', 'Dezembro']
['Setembro', 'Outubro', 'Novembro']

In [15]:
# Fazendo uma lista e uma cópia dela
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas_copy = areas
print(areas)
print(areas_copy)
areas_copy[0] = 5.0
print(areas_copy)
print(areas) # Aqui vejo que, mesmo sem mexer em nenhum elemento da lista "areas", mas sim na 
             # cópia dela, muda nas duas listas
# Para evitar o que ocorreu acima devo colocar o comando list(areas), assim:
areas_copy = list(areas)
areas_copy[0] = 2222
print(areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]
[2222, 18.0, 20.0, 10.75, 9.5]

In [23]:
# Construindo uma lista usando list e range():
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# Todos os elementos da lista L são integers. O código abaixo é equivalente a
for elemento in L:
    print(type(elemento))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [27]:
# A linha abaixo equivale ao código da célula acima
[type(elemento) for elemento in L]

[int, int, int, int, int, int, int, int, int, int]

In [28]:
# Fazendo uma lista que transforma todos os elementos de L em strings, usando str()
L2 = [str(c) for c in L]
L2

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [29]:
type(L2[0])

str

In [30]:
# Criando uma lista que contém vários tipos de variáveis (isso só é possível no Python)
L3 = [True, "2", 3.0, 4]
[type(item) for item in L3]

[bool, str, float, int]

In [48]:
teste = [] # Inserindo uma lista vazia
teste.append('zero')
teste.append('um')
print(teste)
teste.extend(['dois','tres',])
soma = ['quatro','cinco']
teste += soma # Isto aqui equivale a teste = teste + soma
print(teste) 
print(''''As variáveis da 
      lista "teste" são: {0}, {1}, {2}, {3}, {4} e {5}'''.format(teste[0],teste[1],teste[2],teste[3]
                                                    ,teste[4],teste[5]))
print('As variáveis das posições 0 e 3 da lista "teste" são {0} e {1}.'.format(teste[0],teste[3]))
print('Antes a lista "teste" era: {0}'.format(teste)) 
del teste[3]  # Aqui elimino o elemento na terceira posição da lista "teste"
print('Agora a lista "teste" é: '+str(teste)+' ou seja, sem o elemento que ocupava a terceira posição.')
teste.remove("um") # Este método remove a string "um" da lista "teste"
print(teste)
teste.append("quatro")
print(teste)
print(teste.index("quatro")) # O método "index" mostra a primeira posição da lista em que está o elemento
                             # "quatro"
print(teste.count("quatro")) # Este método conta quantas vezes o elemento "quatro" se repete na lista
print(2*teste)

['zero', 'um']
['zero', 'um', 'dois', 'tres', 'quatro', 'cinco']
'As variáveis da
      lista "teste" são: zero, um, dois, tres, quatro e cinco
As variáveis das posições 0 e 3 da lista "teste" são zero e tres.
Antes a lista "teste" era: ['zero', 'um', 'dois', 'tres', 'quatro', 'cinco']
Agora a lista "teste" é: ['zero', 'um', 'dois', 'quatro', 'cinco'] ou seja, sem o elemento que ocupava a terceira posição.
['zero', 'dois', 'quatro', 'cinco']
['zero', 'dois', 'quatro', 'cinco', 'quatro']
2
2
['zero', 'dois', 'quatro', 'cinco', 'quatro', 'zero', 'dois', 'quatro', 'cinco', 'quatro']

In [2]:
strin = 'Python Pro'

In [3]:
# Posso usar split() para pegar cada palavra de uma string e gerar
# uma lista:
strin.split()

['Python', 'Pro']

In [5]:
# Posso usar split() para pegar cada palavra de uma string e gerar
# uma lista:
s = 'Andre-Cezar'
s.split('-')

['Andre', 'Cezar']

In [6]:
# Posso pegar o último objeto retornado usando o underscore: "_":
lp = _
lp

['Andre', 'Cezar']

In [7]:
# Usando join() para produzir uma string separada por "-" a partir
# de uma lista:
nome = '-'.join(lp)
nome

'Andre-Cezar'

In [1]:
# A função "sorted(lista, key=None, reverse=True)" pega uma lista 
# já existente e constrói uma nova lista, podendo
# esta ser composta de valores crescentes (reverse=False) ou
# descrescnetes (reverse=True)
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
full = first + second
print(full)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [2]:
full_sorted = sorted(full, reverse=True)
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

In [3]:
full_sorted = sorted(full, reverse=False)
print(full_sorted)

[9.5, 10.75, 11.25, 18.0, 20.0]

# Sets

In [31]:
# Definindo um SET, que é uma lista que não considera elementos repetidos, mesmo que eu tenha inserido 
# o mesmo elemento mais de uma vez. Um SET é definido entre CHAVES, e não entre colchetes
set1 = {111, 123, 12, 111}
print(set1)

{123, 12, 111}

## Usando o range()

In [51]:
# Gerando um vetor ou uma lista de números inteiros sequenciais, desde que o número inicial seja menor que
# o final
obj_range = range(1,12) # cria um objeto range com todos os elementos MENOS O ÙLTIMO.
print(obj_range)
vet = list(range(1, 12)) # cria uma lista a partir do objeto range, com todos os elementos MENOS O ÙLTIMO. 
print(vet)
print(len(obj_range))
print(len(vet))

range(1, 12)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
11
11

In [53]:
print(list(range(5))) # Aqui só estou dando o número final, O QUAL NÃO ENTRARÁ NA LISTA!

[0, 1, 2, 3, 4]

In [54]:
a = range(0,24,4) # Tenho aqui um range que começa no zero, pula de 4 em 4 e termina no número 20
a

range(0, 24, 4)

In [56]:
# Posso atribuir o range "a" para uma lista:
lo = list(a)
lo

[0, 4, 8, 12, 16, 20]

# Tuplas

In [8]:
# Criando:
tpl = (1, 2, 3)
tpl

(1, 2, 3)

In [9]:
type(tpl)

tuple

In [10]:
dir(tpl)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [11]:
teste = tuple(range(6))
teste

(0, 1, 2, 3, 4, 5)

In [12]:
2+3*4

14

In [13]:
(2+3)*4

20

In [14]:
# Não é possível criar uma tupla somente com um elemento:
(6)

6

In [15]:
type((6))

int

In [16]:
# Pra criar tupla com só um elemento uso a vírgula:
(6,)

(6,)

In [17]:
type((6,))

tuple

In [18]:
# Tuplas podem ser 'desempacotadas':
registro = ('Andre', 31)
nome, idade = registro
nome

'Andre'

In [19]:
idade

31

In [20]:
# Posso concatenar tuplas e gerar uma terceira tupla, sem mudar 
# as tuplas originais:
registro2 = ('Rosa', 29)
registro + registro2

('Andre', 31, 'Rosa', 29)

In [21]:
registro

('Andre', 31)

In [22]:
registro2

('Rosa', 29)

In [25]:
# A TODOS os objetos do python é atribuído um tipo de "RG", que
# pode ser acessado usando id():
id(registro)

139790478107584

In [26]:
id(registro2)

139790478085408

## Acesso, Tamanho e Fatiamento

In [27]:
nome='Andre'
nome[0]

'A'

In [28]:
len(nome)

5

In [29]:
nome[len(nome) - 1]

'e'

In [30]:
nome[-1]

'e'

In [31]:
nome[-2]

'r'

In [32]:
nome[0:3]

'And'

In [33]:
nome[:3]

'And'

In [34]:
nome[-3:]

'dre'

In [35]:
nome[:4:2]

'Ad'

In [36]:
# Invertendo uma string:
nome[::-1]

'erdnA'

In [39]:
# Invertendo uma lista:
lista = list(range(10))
print(lista)
lista[::-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]